@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-around">
        <div class="col-4">
            @foreach (var m in @ViewBag.Menu)
            {
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark" style="padding-bottom: 12px;">@m.CategoryName</li>
                    @foreach (var r in m.Recipes)
                    {
                        <li class="list-group-item">
                            <a asp-controller="Recipe" asp-action="GetRecipe" asp-route-recipeId="@r.RecipeId" style="text-decoration: none; color: black">@r.Name</a>
                        </li>
                    }
                </ul>
            }
        </div>
        @RenderBody()
    </div>
</div>